.parent{
    text-align: center;
}
.parent h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.parent p{
    font-size: 35px;
}
button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    transition: all;
}
button:hover{
    background-color: green;
}